<ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'author:author-list' %}">Авторы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'genre:genre-list' %}">Жанры</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'series:series-list' %}" tabindex="-1" aria-disabled="true">Серии</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'publishinghouse:published-list' %}">Издательства</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/admin">Админка</a>
    </li>
</ul>