{% extends 'base.html' %}
{% block title %}Detail book{% endblock title %}
{% block body %}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Серия</h5>
    <p class="card-text">    {{ employee.pk }}<br>
      ID : {{ employee.pk }} <br>
      Description : {{ employee.phone_number }} <br></p>
    <a href="{% url 'series:series-list' %}" class="btn btn-primary">К списку</a>
  </div>
</div>
{% endblock body %}