{% extends 'base.html' %}
{% load template_tags %}
{% block title %}Detail book{% endblock title %}
{% block body %}
<div class="card" style="width: 18rem;">
  <img src="{{ book.picture_book.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Книга</h5>
      <p class="card-text">    {{ book }}<br>
        ID : {{ book.pk }} <br>
        <b>Автор</b> : 
        <ul>
          {% for dim_1 in book.book_author.all %}
          <li>{{ dim_1.dim_1 }}</li>
          {% endfor %}
        </ul>    
        <b>Серия</b> : {{ book.book_series }} <br>
        <b>Жанр</b> : {{ book.book_genre }} <br>
        <b>Год издания</b> : {{ book.year_publishing }} <br>
        <b>Количество страниц</b> : {{ book.number_pages }} <br>
        <b>Формат </b>: {{ book.size }} <br>
        <b>Переплет </b>: {{ book.tbinding }} <br>
        <b>ISBN</b> : {{ book.ISBN }} <br>
        <b>Издательство</b> : {{ book.publishing_house }} <br>
        <b>Возрастные ограничения</b> : {{ book.age_restrictions }} <br>
        <b>Вес (гр)</b> : {{ book.weight }} <br>
        <b>Количество в наличии (шт)</b>  : {{ book.in_stock }} <br>
        <b>Доступга к заказу</b> : {% if book.available_to_order %} 
          Есть на складе
        {% else %}
          Нет в наличии
        {% endif %}        <br>
        <b>Рейтинг</b> : {{ book.rating }} <br></p>
      <a href="{% url 'books:book-list' %}" class="btn btn-primary">К списку</a>
    </div>
  </div>
  {% show_comments %}
{% endblock body %}