{% extends 'base.html' %}
{% block title %}Book list{% endblock title %}
{% block body %}

    <h1>Все книги</h1>
    <table class="table table-hover">
        <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Detail</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        <th scope="col">Add</th>
      </tr>
    </thead>
    <tbody>
      {% for book in book_list %}
      <tr>
        <th scope="row"> {{ book.pk }}</th>
        <td><a href ="{% url 'books:book' book.pk %}">{{ book }}</a></td>
        <td><a href ="{% url 'books:book-update' book.pk %}" class='btn btn-success' >Update</a></td>
        <td><a href ="{% url 'books:book-delete' book.pk %}" class='btn btn-warning'>Delete</a></td>
        <td><a href ="{% url 'carts:cart-edit' %}?book_id={{ book.pk }}" class='btn btn-primary'>Add to Cart</a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'books:book-create' %}">Создать новую книгу</a> <br>
    <a href="{% url 'home' %}">На главную</a>

{% endblock body %}