{% extends 'base.html' %}
{% block title %}Book list{% endblock title %}
{% block body %}

    <h1>Все книги</h1>

    <h1>Оставь надежду!!!</h1>

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <a href="{% url 'books:book-create' %}">Создать новую книгу</a><br>
    <a href="{% url 'home' %}">На главную</a><br>


    <table class="table table-hover">
        <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Detail</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        <th scope="col">Add</th>
      </tr>
    </thead>
    <tbody>
      {% for book in book_list %}
      <tr>
        <th scope="row"> {{ book.pk }}</th>
        <td><a href ="{% url 'books:book' book.pk %}">{{ book }}</a></td>
        <td><a href ="{% url 'books:book-update' book.pk %}" class='btn btn-success' >Update</a></td>
        <td><a href ="{% url 'books:book-delete' book.pk %}" class='btn btn-warning'>Delete</a></td>
        <td><a href ="{% url 'carts:cart-edit' %}?book_id={{ book.pk }}" class='btn btn-primary'>Add to Cart</a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>


<br>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% for page_num in paginator.page_range %}
      <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>



{% endblock body %}