{% extends 'base.html' %}
{% block title %}Book list{% endblock title %}
{% block body %}

    <h1>Все книги</h1>

    <h1>Оставь надежду!!!</h1>

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

<!-- {% for book in book_list %}

    <div class="card" style="width: 18rem;">
      <img src="{{ book.picture_book.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Книга</h5>
          <p class="card-text">    {{ book }}<br>
            ID : {{ book.pk }} <br>
            <b>Автор</b> : 
            <ul>
              {% for dim_1 in book.book_author.all %}
              <li>{{ dim_1.dim_1 }}</li>
              {% endfor %}
            </ul>    
            <b>Серия</b> : {{ book.book_series }} <br>
            <b>Жанр</b> : {{ book.book_genre }} <br>
            <b>Год издания</b> : {{ book.year_publishing }} <br>
            <b>Количество страниц</b> : {{ book.number_pages }} <br>
            <b>Формат </b>: {{ book.size }} <br>
            <b>Переплет </b>: {{ book.tbinding }} <br>
            <b>ISBN</b> : {{ book.ISBN }} <br>
            <b>Издательство</b> : {{ book.publishing_house }} <br>
            <b>Возрастные ограничения</b> : {{ book.age_restrictions }} <br>
            <b>Вес (гр)</b> : {{ book.weight }} <br>
            <b>Количество в наличии (шт)</b>  : {{ book.in_stock }} <br>
            <b>Доступга к заказу</b> : {% if book.available_to_order %} 
              Есть на складе
            {% else %}
              Нет в наличии
            {% endif %}        <br>
            <b>Рейтинг</b> : {{ book.rating }} <br></p>
            <a href ="{% url 'carts:cart-edit' %}?book_id={{ book.pk }}" class='btn btn-primary'>Add to Cart</a>
        </div>
      </div>

    {% endfor %} -->
    <a href="{% url 'books:book-create' %}">Создать новую книгу</a><br>
    <a href="{% url 'home' %}">На главную</a><br>


    <table class="table table-hover">
        <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Detail</th>
        {% if perm.books.change_book %}<th scope="col">Update</th>{% endif %}
        {% if perm.books.delete_book %}<th scope="col">Delete</th>{% endif %}
        <th scope="col">Add</th>
      </tr>
    </thead>
    <tbody>
      {% for book in book_list %}
      <tr>
        <th scope="row"> {{ book.pk }}</th>
        <td><a href ="{% url 'books:book' book.pk %}">{{ book }}</a></td>
        {% if perm.books.change_book %}<td><a href ="{% url 'books:book-update' book.pk %}" class='btn btn-success' >Update</a></td>{% endif %}
        {% if perm.books.delete_book %}<td><a href ="{% url 'books:book-delete' book.pk %}" class='btn btn-warning'>Delete</a></td>{% endif %}
        <td><a href ="{% url 'carts:cart-edit' %}?book_id={{ book.pk }}" class='btn btn-primary'>Add to Cart</a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>


<br>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% for page_num in paginator.page_range %}
      <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>



{% endblock body %}