<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Все авторы</h1>
    <ul>
        {% for author in author_list %}
        <li>{{ forloop.counter }} Author# {{ author.pk }} <a href ="{% url 'author:author' author.pk %}">{{ author }}</a> 
            || <a href ="{% url 'author:author-update' author.pk %}">Update</a>
            || <a href ="{% url 'author:author-delete' author.pk %}">Delete</a> </li>
        {% endfor %}
    </ul>
    <a href="{% url 'author:author-create' %}">Создать нового Автора</a> <br>
    <a href="{% url 'home' %}">На главную</a>
    </body>
</html>