{% extends 'base.html' %}
{% block title %}Genre list{% endblock title %}
{% block body %}
<body>
    <h1>Все жанры</h1>
    <ul>
        {% for genre in genre_list %}
        <li>{{ forloop.counter }} Genre# {{ genre.pk }} <a href ="{% url 'genre:genre' genre.pk %}">{{ genre }}</a>
            || <a href ="{% url 'genre:genre-update' genre.pk %}">Update</a>
            || <a href ="{% url 'genre:genre-delete' genre.pk %}">Delete</a> </li>
        {% endfor %}
    </ul>
    <a href="{% url 'genre:genre-create' %}">Создать новый Жанр</a> <br>
    <a href="{% url 'home' %}">На главную</a>
    </body>
{% endblock body %}