<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Все жанры</h1>
    <ul>
        {% for genre in genre_list %}
        <li>{{ forloop.counter }} Genre# {{ genre.pk }} <a href ="{% url 'genre:genre' genre.pk %}">{{ genre }}</a>
            || <a href ="{% url 'genre:genre-update' genre.pk %}">Update</a>
            || <a href ="{% url 'genre:genre-delete' genre.pk %}">Delete</a> </li>
        {% endfor %}
    </ul>
    <a href="{% url 'genre:genre-create' %}">Создать новый Жанр</a> <br>
    <a href="{% url 'home' %}">На главную</a>
    </body>
</html>