{% extends 'base.html' %}
{% block title %}Home page{% endblock title %}
{% block body %}
<body>
    <h1>Home page</h1>
    <a href='/admin'> Админка </a>

    <ul>
        <li><a href ="{% url 'author:author-list' %}">Авторы</a></li>
        <li><a href ="{% url 'genre:genre-list' %}">Жанры</a></li>
        <li><a href ="{% url 'series:series-list' %}">Серии</a></li>
        <li><a href ="{% url 'publishinghouse:published-list' %}">Издательства</a></li>
    </ul>
    <a href="{% url 'book:book-create' %}">Создать Книгу</a> <br>
    
</body>
{% endblock body %}