{% extends 'base.html' %}
{% block title %}Series list{% endblock title %}
{% block body %}
<body>
    <h1>Все серии</h1>
    <ul>
        {% for series in series_list %}
        <li>{{ forloop.counter }} Series# {{ series.pk }} <a href ="{% url 'series:series' series.pk %}">{{ series }}</a>
            || <a href ="{% url 'series:series-update' series.pk %}">Update</a>
            || <a href ="{% url 'series:series-delete' series.pk %}">Delete</a> </li>
        {% endfor %}
    </ul>
    </body>
    <a href="{% url 'series:series-create' %}">Создать новую Серию</a> <br>
    <a href="{% url 'home' %}">На главную</a> <br>
{% endblock body %}