{% extends 'base.html' %}
{% load template_tags %}
{% block title %}Detail order{% endblock title %}
{% block body %}
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Детали заказа</h5>
      <p class="card-text">    {{ order }}<br>
        <b>ID</b> : {{ order.pk }} <br>
        <b>Корзина</b> : {{ order.cart.pk }}<br>
             

        <b>Книги</b> : 
        <ul>
          {% for book in order.cart.goods.all %}
          {{book.book}} <br>
          Цена штуки {{book.unit_price}} <br>
          Количество {{book.quantity}} <br><br>
          {% endfor %} 
        </ul>   

        <b>Статус заказа</b> : {{ order.status_order }} <br>
        <b>Контактные данные</b> : {{ order.contact_info }} <br>
        <b>Дата создания</b> : {{ order.created }} <br>
    </p>
      <a href="{% url 'orders:list-order' %}" class="btn btn-primary">К списку заказов</a>
    </div>
  </div>
  {% show_comments %}

  {{book.pk}}

{% endblock body %}